/* ///////////////////////////////////////////////////////////// */
/* header start */
#header {
    position: relative;
    z-index: 900 !important;
}

#header .header-btn-collapse-nav {
    background: #F85F00 !important;
}

#header .icon-none .dropdown-item i {
    display: none !important;
}

#header .header-nav-top .nav>li>a,
#header .header-nav-top .nav>li>span {
    color: #fff !important;
    background: #F85F00 !important;
}

#header .header-nav-top .dropdown-menu {
    min-width: auto;
    color: #fff !important;
    background: #F85F00 !important;
    border-radius: 0.25rem !important;
}

#header .header-nav-top .dropdown-menu a {
    color: #fff !important;
    padding: 6px 10px !important;
}

.header-nav-top .dropdown-item:focus,
.header-nav-top .dropdown-item:hover {
    color: #fff !important;
    background-color: transparent !important;
}

.translation-pageBox-p {
    font-size: 16px !important;
}

/* #header .header-nav.header-nav-line nav > ul > li > a{
    min-height: unset !important;
    height: unset !important;
} */

.section .form-int-back {
    background-color: rgb(201, 212, 228) !important;
}

.section .form-int-back .btn-submit {
    background: #F85F00 !important;
    color: #fff !important;
}

.form-control:not(.form-control-sm):not(.form-control-lg) {
    line-height: initial !important;
}

section.section-stepBox {
    margin: 0 !important;
    padding: 0 !important;
}

section.section-counters,
.section-lang {
    margin: 0 !important;
}

section.translation-pageBox {
    margin: 0 !important;
}

.section-stepBox .process .process-step-circle {
    border-color: #F85F00 !important;
}

.section-stepBox .process .process-step-circle .text-primary {
    color: #F85F00 !important;
}

.section-stepBox .process .process-step:hover .process-step-circle {
    background: #F85F00 !important;
}

#header.header-effect-shrink .header-container {
    min-height: 70px !important;
}

.wide-80 {
    padding: 50px 0 100px 0 !important;
}

.section-title {
    margin-bottom: 60px;
}

.featured-boxes-full .featured-box-full {
    text-align: center;
    padding: 30px 20px !important;
}

.section-title.center {
    text-align: center;
    width: 66.6666%;
    padding-left: 16.6666%;
    padding-right: 16.6666%;
}

.cbox-3 {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    height: 100px !important;
    width: 200px !important;
    filter: grayscale(100);
    transition: all 0.3 ease !important;
}

.cbox-3:hover {
    filter: none !important;
}

#countries-3 .col-lg-3 {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center !important;
}

.cbox-3 img,
.cbox-3 .hover-overlay {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.hover-overlay {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.item-overlay {
    opacity: 0;
    -moz-opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(10, 10, 10, 0.5);
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.country-name {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 20px;
}

.cbox-3 h5 {
    line-height: 1;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0;
    color: #fff !important;
}

.cbox-3 .white-color {
    color: #fff !important;
}

.services-box {
    padding: 100px 0 !important;
}

.services-box .card {
    cursor: pointer !important;
    transition: 0.3s !important;
    border-radius: 10px !important;
}

.card-title,
.card-text {
    transition: 0.3s !important;
    color: #000 !important;
}

.services-box .card:hover {
    background: #F85F00 !important;
}

.services-box .card:hover .card-title {
    color: #fff !important;
}

.services-box .card:hover .card-text {
    color: #fff !important;
}

.box-shadow-1:before {
    border-radius: 10px !important;
}

.services-box .btn-srv {
    background: #F85F00 !important;
    color: #fff !important;
}

.services-box .card:hover .btn-srv {
    background: #fff !important;
    color: #F85F00 !important;
}

/* ****************************************************************** */
/* FAQ page start */

.page-header.page-header-modern.page-header-lg {
    padding: 150px 0 !important;
    margin: 0 !important;
}

.faq-page .page-header {
    background: #f16107cc url('../images/faq-fon.jpg')no-repeat center center / cover;
    background-blend-mode: multiply;
    background-attachment: fixed;
}

html .faq-page .toggle-primary .toggle.active .toggle-title {
    background-color: #F85F00 !important;
    border-color: #F85F00 !important;
    color: #FFF !important;
}

html .faq-page .toggle-primary .toggle .toggle-title {
    color: #F85F00 !important;
    border-left-color: #F85F00 !important;
    border-right-color: #F85F00 !important;
}

html .faq-page .toggle>.toggle-content>p {
    margin-bottom: 0;
    padding: 10px 20px;
}

/* *************************************************************************** */
/* translation page start */
html body .translation-pageBox .tabs .nav-tabs .nav-link:hover,
html body .translation-pageBox .tabs .nav-tabs li.active .nav-link {
    border-top-color: #F85F00 !important;
    color: #F85F00 !important;
}

.section-countries-translation-page .cbox-3 {
    width: 100% !important;
    height: 100% !important;
}

.section-countries-translation-page .hover-overlay {
    height: 100% !important;
}

.section-countries-translation-page .hover-overlay .img-fluid {
    height: 100% !important;
    width: 100% !important;
}

.section-countries-translation-page .cbox-3 {
    width: 100% !important;
    height: 100px !important;
}

.section-countries-translation-page .country-name {
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-countries-translation-page .country-name h5 {
    margin-bottom: 0 !important;
}

.translation-page .page-header {
    background: #f16107cc url('../images/translation-fon.jpg')no-repeat center center / cover !important;
    background-blend-mode: multiply !important;
    background-attachment: fixed !important;
}

.header-buttonts {
    justify-content: center;
    align-items: center;
    display: none !important;
}

.header-buttonts .btn {
    width: 200px !important;
    padding: 15px !important;
    font-size: 16px !important;
    background: #F85F00 !important;
    color: #fff !important;
    border: 2px solid #fff;
    text-transform: uppercase !important;
}

.header-buttonts .btn:nth-child(2) {
    margin-left: 20px !important;
}

/*box shadow animation*/
.pulse {
    background: #F85F00;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
    animation: pulse 1.5s infinite;
}

.pulse:hover {
    animation: none;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 #F85F00;
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 232, 1, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 232, 1, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 #F85F00;
        box-shadow: 0 0 0 0 #F85F00;
    }

    70% {
        -moz-box-shadow: 0 0 0 10px rgba(255, 232, 1, 0);
        box-shadow: 0 0 0 13px rgba(255, 232, 1, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 232, 1, 0);
        box-shadow: 0 0 0 0 rgba(255, 232, 1, 0);
    }
}

/* ********************************************************************* */
/* Media */
@media (min-width: 992px) {
    #header .header-nav.header-nav-line nav>ul:not(:hover) li>a.active:before {
        background: #F85F00 !important;
    }

    #header .header-nav.header-nav-line nav>ul:not(:hover) li>a.active {
        color: #F85F00 !important;
    }

    #header .header-nav.header-nav-line nav>ul li:hover>a {
        color: #F85F00 !important;
    }

    #header .header-nav.header-nav-line nav>ul li:hover>a:before {
        background: #F85F00 !important;
    }

    #header .header-nav-main nav>ul>li.dropdown .dropdown-menu {
        border-top-color: #F85F00 !important;
    }

    #header .header-nav-main nav>ul>li.dropdown .dropdown-menu li.dropdown-submenu>a:after {
        display: none !important;
    }

    #header .header-nav-main nav>ul>li>a {
        font-size: 16px !important;
    }
}

@media (max-width: 992px) {
    #header .header-nav-main:not(.header-nav-main-mobile-dark) nav>ul>li>a.active {
        background: #F85F00 !important;
    }
}

@media (max-width: 767px) {
    .cbox-3 {
        width: 100% !important;
    }
}

@media (max-width: 575px) {
    .languages-box {
        padding: 0 40px !important;
    }

    .cbox-3 {
        filter: none !important;
    }

    .modal-box {
        display: none !important;
    }

    .header-buttonts {
        display: flex !important;
    }
}

@media (max-width: 475px) {
    .languages-box {
        padding: 0 20px !important;
    }
}

@media (max-width: 414px){
    .header-buttonts{
        flex-direction: column !important;
    }
    .header-buttonts .btn:nth-child(2){
        margin-left: 0 !important;
    }
    .header-buttonts .btn{
        width: 250px !important;
    }
    .header-buttonts .btn:nth-child(1){
        margin-bottom: 30px !important;
    }
    section.header-section{
        padding: 0 !important;
    }
}

@media (max-width: 375px) {
    .testimonial.testimonial-with-quotes blockquote p {
        padding: 15px 0 0 0 !important;
    }
}

@media (max-width: 350px){
    .header-buttonts .btn {
        width: 100% !important;
    }
}